<h1>New Comment on <%= @word_name %></h1>

<p><a href="<%= ui_link("user/#{@activity.user.username}") %>"><%= @activity.user.username %></a> left a new comment for you on your proposal for <%= @word_name %></p>

<a href="<%= ui_link("proposal/#{@proposal.id}") %>">Read it here!</a>
