!!!
%html
  %head
    %title Adminium
    = stylesheet_link_tag    'admin/application', media: 'all'
    = javascript_include_tag 'admin/application'
    = csrf_meta_tags
  %body
    %header
      %h1 Adminium
      .nav
        .item= link_to "Dashboard", admin_dashboard_path()
        .item= link_to "Blog", admin_posts_path()
        .item= link_to "Quizzes", admin_quizzes_path()
    - if flash[:notice]
      .notice= flash[:notice]
    .content
      = yield
